a {
    &.cta_button {
        text-decoration: none;
        box-sizing: border-box !important;

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            
            &:before {
                display: none;
            }
        }
    }
}