body {

    div#hs-eu-cookie-confirmation {


        div#hs-eu-cookie-confirmation-inner {

            div#hs-en-cookie-confirmation-buttons-area {

                a#hs-eu-confirmation-button,
                a#hs-eu-decline-button {
                }

                a#hs-eu-confirmation-button {
                }

                a#hs-eu-decline-button {
                }
            }
        }
    }
}