form {
    ::-webkit-input-placeholder {
        color: #c7c5bd;
        font-family:$mainFont!important;
        font-size: 16px;
    }

    ::-moz-placeholder {
        color: #c7c5bd;
        font-family:$mainFont!important;
        font-size: 16px;
    }

    :-ms-input-placeholder {
        color: #c7c5bd !important;
        font-family:$mainFont!important;
        font-size: 16px;
    }

    :-moz-placeholder {
        color: #c7c5bd;
        font-family:$mainFont!important;
        font-size: 16px;
    }

    // FAKE INPUT
    .hs_fake_input {
        margin: 0px !important;
    }

    fieldset {
        max-width: 100% !important;
        &.form-columns-2 {
            >div {
                &:nth-child(odd) {
                    padding-right: 5px;
                }

                &:nth-child(even) {
                    padding-left: 5px;
                }
            }
        }

        .hs-input {
            width: 100% !important;
        }
    }

    .input {
        position: relative;
        margin-right: 0 !important;
    }

    .hs-form-field {
        margin: 20px 0px;
    }

    fieldset {
        .hs-form-field {
            margin: 10px 0px;
        }
    }

    fieldset:last-of-type {
        .hs-form-field {
            margin-bottom: 20px;
        }
    }

    // Textarea
    textarea {
        background-color: transparent;
        border: none;
        border: 1px solid #c7c5bd;
        color: #000;
        font-size: 16px;
        width: 100% !important;
        padding: 17px;
        line-height: 1.6;
        border-radius: 0px;
        min-height: 200px;
       font-family:$mainFont !important;
        -ms-overflow-style: none;
    }


    .hs-submit{
        position: relative;
        display: inline-block;
        cursor: pointer;
        transition: 0.3s all;
        &:after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 49px 49px 0 0;
            border-color: hubl("$first_color") transparent transparent transparent;
            position: absolute;
            top: 0px;
            right: -49px;
        }

        &:hover {
            opacity: 0.8;
        }
    }
    // RODO
    .legal-consent-container{
        font-size: 11px;
        font-weight: 300;
        color: rgba(0,0,0,.4);
        margin-bottom: 15px;
        ul.inputs-list {
            padding-left: 0px;
            li{
                &:before,&:after{
                    display: none!important;
                }
            }
        }
        .hs-richtext {
            font-size: 0;
        }
        span,p,li{
            font-size: 11px;
            margin: 0;
        }
    }
    // Inputs 
    input {
        appearance: none;
        background-color: transparent;
        margin: 0;
        border: none;
        border: 1px solid #c7c5bd;
        border-radius: 0px;
        color: #000;
        font-size: 18px;
        font-family: $mainFont;
        &:focus {
          outline: none;
        }

        // Submit
        &[type=submit] {
            appearance: none;
            cursor: pointer;
            transition: 0.3s all;
            background-color: hubl("$first_color");
            color: #fff;
            font-size: 18px;
            font-weight: 700;
            padding: 14px 15px;
            display: inline-block;
            border: none;
            border-radius: 0px;
        }

        //Checkbox
        &[type="checkbox"] {
            appearance: checkbox;
            visibility: hidden;
            display: none;

            +span {
                margin-left: 35px;
                position: relative;
                display: block;
                z-index: 1;

                &:before {
                    position: absolute;
                    content: '';
                    top: 0px;
                    left: -35px;
                    width: 18px;
                    height: 18px;
                    margin-top:4px;
                    border-radius: 0px;
                    border: solid 2px hubl("$first_color");
                    z-index: 2;
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 0px;
                    left: -35px;
                    margin-top:4px;
                    font-family: "FontAwesome";
                    z-index: 3;
                }

                &:hover:before {
                    cursor: pointer;
                }
            }

            &:checked+span:after {
                content: "\f00c";
                font-family: "FontAwesome";
                color: hubl("$first_color");
                text-align: center;
                vertical-align: middle;
                line-height: 20px;
                width: 18px;
                height: 18px;
                font-size: 11px;
                cursor: pointer;
            }
        }

        // Radio
        &[type="radio"] {
            appearance: radio;
            visibility: hidden;
            display: none;

            +span {
                margin-left: 35px;
                position: relative;

                &:before {
                    content: '';
                    border-radius: 50%;
                    border: 1px solid #ebebeb;
                    position: absolute;
                    left: -35px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 19px;
                    width: 24px;
                    height: 24px;
                    transition: 0.3s;
                }

                &:after {
                    position: absolute;
                    left: -28px;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &:hover:before {
                    cursor: pointer;
                }
            }

            &:checked+span {
                &:after {
                    content: "";
                    background-color: hubl("$first_color");
                    cursor: pointer;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                }

                &:before {
                    border: 1px solid hubl("$first_color");
                }
            }
        }

        // File 
        &[type="file"] {
            width: 100%;
            padding: 10px 15px;
            line-height: 1.45;
            position: relative;
            z-index: 20;
            background-color: red;
            cursor: pointer;
            opacity: 0 !important;
        }

        // Rest
        &[type=text],
        &[type=email],
        &[type=tel],
        &[type=password],
        &[type=number],
        &[type=tel] {
            padding: 7.5px 15px;
            line-height: 1.6;
        }
    }

    // multicheckbox
    .inputs-list.multi-container {
        padding-top: 10px;

        li.hs-form-radio {
            margin-bottom: 10px;
            margin-right: 10px;
        }
    }

    // multicheckbox
    .inputs-list.multi-container {
        padding-top: 10px;

        li.hs-form-checkbox {
            display: inline-block;
            margin-right: 10px;
        }
    }

    // Select
    select {
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    .hs_dropdown {
        margin: 30px 0 10px 0;

        label {
            display: none;
        }
    }

    .dropdown-header {
        position: relative;
        padding: 9px 15px;
        cursor: pointer;
        border: 1px solid #c7c5bd;
        border-radius: 4px;
        color: #000;

        &.slide-down {
            border-color: #7f7f74;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);

            &:after {
                transform: rotate(0);
            }
        }

        &:after {
            content: "";
            position: absolute;
            right: 15px;
            top: 15px;
            transform: rotate(-90deg);
            transition: .3s ease all;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 9px 0 9px;
            border-color: #c7c5bd transparent transparent transparent;
        }

        span.placeholder {
            color: #c7c5bd;
        }
    }

    .dropdown-list {
        border: 1px solid #c7c5bd;
        border-radius: 4px;
        position: absolute;
        width: 100%;
        max-height: 228px;
        overflow: auto;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
        z-index: 100;
        cursor: pointer;
        margin-top: 5px;

        &::-webkit-scrollbar {
            width: 4px;
            background-color: #fff;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
        }

        &::-webkit-scrollbar-thumb {
            background-color: hubl("$first_color");
        }

        li {
            cursor: pointer;
            background-color: #fff;
            padding: 10px 15px;
            font-size: em(17);

            &:not(.search):hover {
                background-color: #f9f9f9;
            }

            &:before {
                display: none;
            }
        }
    }

    // Error message
    .inputs-list {
        li {
            label {
                padding-left: 0;
            }
        }
    }

    .hs-error-msgs {
        margin-top: 0px;
        padding-left: 0px !important;
        list-style: none !important;
        li {
            text-align: left;

            &:before,&:after {
                display: none!important;
            }
            label,
            a {
                font-size: 12px;
                padding-left: 0;
                color: #d0021b;
                display: inline-block;
            }
        }
    }

    // Resize on mobile
    @media (max-width: 768px) {
        .form-columns-2 .hs-form-field {
            width: 100% !important;
            float: none !important;
            padding: 0 !important;
        }
    }

    fieldset {
        &.form-columns-2 {
            .hs-form-field {
                width: 50% !important;

                @media (max-width: 768px) {
                    width: 100% !important;
                    float: none !important;
                    padding: 0px !important;
                }
            }
        }

        &.form-columns-3 {
            .hs-form-field {
                width: 33.33% !important;

                @media (max-width: 768px) {
                    width: 100% !important;
                    float: none !important;
                    padding: 0px !important;
                }
            }
        }

        &[class^="form-columns-"]:not(.form-columns-1) {
            .hs-form-field {
                padding-left: 10px;
                padding-right: 10px;

                &:first-of-type {
                    padding-left: 0;
                }

                &:last-of-type {
                    padding-right: 0;
                }

                @media (max-width: 400px),(max-device-width: 480px) and (min-device-width: 320px) {
                    width: 100%;
                    padding: 0px;
                }

                input {
                    @media (max-width: 400px), (max-device-width: 480px) and (min-device-width: 320px) {
                        width: 100% !important;
                    }
                }
            }
        }
    }

    // Remove bullets
    ul {
        li {
            &:before,&:after {
                display: none;
            }
        }
    }

    // bullet required
    .hs-form-required {
        display: none;
    }
}

body.ms-browser {
    input {

        &[type=text],
        &[type=email],
        &[type=tel],
        &[type=password],
        &[type=number],
        &[type=tel] {
            height: 44px;
        }
    }
}