.footer{
    .top{
        background-color: #F2F2F2;
        padding: 40px 0px;
        .inner-wrapper{
            display: flex;
            @media(max-width: 1023px) {
                flex-wrap: wrap;
            }
            >div {
                &:first-child {
                    // left
                    max-width: 945px;
                    width: 100%;
                    padding-right: 20px;
                    @media(max-width: 1023px) {
                        max-width: 100%;
                    }
                }
                &:last-child {
                    // right
                    max-width: 455px;
                    width: 100%;
                    @media(max-width: 1023px) {
                        max-width: 100%;
                    }
                }
            }
        }
        img{
            margin-top: 20px;
        }
        p,span{
            font-size: 16px;
            font-weight: 300;
            display: block;
        }
        .left{
            .widget-type-rich_text {
                max-width: 730px;
                @media(max-width: 1023px) {
                    margin: 30px 0px;
                }
            }
             .hs_cos_wrapper_type_logo {
                 @media(max-width: 1023px) {
                     text-align: center;
                 }
             }
        }
        .right{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @media(max-width: 1023px) {
               flex-wrap: nowrap;
            }
            @media(max-width: 600px) {
                flex-wrap: wrap;
            }
            > div{
                &:first-child{
                        min-width: 60px;
                }
                &:nth-child(2) {
                    width: 385px;
                    @media(max-width: 1023px) {
                       width: 100%;
                       padding: 0 15px;
                    }
                    @media(max-width: 600px) {
                        width: calc(100% - 60px)
                    }
                }
                &:nth-child(3) {
                    min-width: 60px;
                    @media(max-width: 1023px) {
                       display: none;
                    }
                }
                &:nth-child(4) {
                    width: 188px;
                    @media(max-width: 1023px) {
                        width: 100%;
                        padding: 0 15px;
                    }
                    @media(max-width: 600px) {
                        width: 48%;
                    }
                    @media(max-width: 380px) {
                        width: 100%;
                    }
                }
                &:nth-child(5) {
                    width: 188px;
                    @media(max-width: 1023px) {
                        width: 100%;
                        padding: 0 15px;
                    }
                    @media(max-width: 600px) {
                        width: 48%;
                    }
                    @media(max-width: 380px) {
                        width: 100%;
                    }
                }
            }
            p,
            span {
                font-size: 14px;
                font-weight: 300;
                display: block;
            }
            .fake-img{
                height: 1px;
                background: transparent;
                @media(max-width: 1023px) {
                     height: 0px;
                }
            }
           
        }
    }
    .bottom{
        padding: 20px 0px;
        ul {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            li {
                display: block;
                line-height: 1;
                position: relative;
                margin: 5px 0px;
                @media (max-width: 568px){
                    width: auto;
                }
                @media (max-width: 374px) {
                     width: 100%;
                     text-align: center;
                 }
                a {
                    color: hubl("$second_color");
                    padding: 0px 15px;
                    line-height: 1;
                    display: block;
                    font-size: 14px;
                    font-weight: 300;
                    &:hover {
                        color: hubl("$first_color")
                    }
                    @media (max-width: 374px) {
                        width: 100%;
                        padding: 0px!important;
                    }
                }
                &:after {
                    content: '';
                    width: 1px;
                    height: 100%;
                    display: inline-block;
                    background-color: hubl("$second_color");
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    @media (max-width: 374px) {
                        display: none;
                    }
                }
                &:last-child {
                    a {
                        padding-right: 0px;
                    }

                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}