* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;

}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

video::-webkit-media-controls-start-playback-button {
    display: none !important;
}

img {
    max-width: 100%;
    height: auto;
}

.row-fluid [class*="span"] {
    min-height: 0;
}


// GLOBALS NEW 

.container{
    max-width: 1460px;
    width: 100%;
    margin: 0 auto;
    padding: 0 25px;
    @media(max-width: 1024px){
          padding: 0 15px;
    }
    &--small{
        max-width: 1150px;
    }
}
.body-container-wrapper{
    margin-top: 180px;
    @media(max-width: 1024px){
        margin-top: 125px;
    }
}











