.header{
	top: 0px; 
	left: 0px;
	position:fixed;
	width:100%;
	background-color: #fff;
	z-index: 999999;
	// box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
	.slicknav_menu {
		display:none;
		width: 100%;
		position: absolute;
		left: 0px;
		top: 125px;
		z-index: 2;
		height: 43px;
		padding: 0 5px;
		background-color: #e6e6e6;
		
		@media(max-width: 1024px){
			display: block;
			
		}
		.slicknav_btn{
			margin:0px;
			border-radius: 0px;
			float: left;
			width: 50px;
			padding: 0px;
			background-color: transparent;
			&.slicknav_open{
				background-color:#f2f2f2;
				.slicknav_icon {
					> span{
						transition: 0.3s all ease-in-out;
						&:nth-child(1) {
							transform: translateY(10px) rotate(45deg);
						}
						&:nth-child(2){
							opacity: 0;
						}
						&:nth-child(3) {
							transform: translateY(-8px) rotate(-45deg);
						}
					}
				}
			}
			.slicknav_icon {
				width: 100%;
				padding: 11px 8px;
				border-radius: 0px;
				>span{
					transition: 0.3s all ease-in-out;
					width: 100%;
					margin-bottom: 6px;
					background-color: #000;
					box-shadow: none;
					height: 3px;
					&:last-child{
						margin-bottom: 0px;
					}
				}
			}
			
			
		}
		.slicknav_nav{
			background-color: #f2f2f2;
			position: absolute;
			left: 0px;
			top: 43px;
			width: 100%;
			overflow: auto!important;
			max-height: calc(100vh - 167px);
			min-height: 190px;

			a{
				margin: 0px;
				padding: 10px;
				text-transform: uppercase;
				color: #000;
				&:hover{
					border-radius: 0px;
					background: rgba(255,255,255, .2);

				}
				a{
					padding: 0px;
				}
			}
			
			.slicknav_arrow{
				display: inline-block;
				margin-left: auto;
				margin-right: 0px;
				font-size: 0px;
				color: transparent;
				&:after {
					content: "\f0d7";
					font-family: "FontAwesome";
					position: absolute;
					right: 20px;
					top: 7px;
					font-size: 22px;
					color: #000;
				}
			}
			.slicknav_open{
				>a>.slicknav_arrow:after {
					content: "\f0d8";
				}
			}
			li{
				> ul {
					margin-left: 0px;
					background-color: #fff;
					> li{
						> a{
							text-transform: none;
							font-family: "Source Sans Pro",sans-serif;
							font-weight: 700;
							font-size: 18px;
							line-height: 24px;
							border-bottom: 2px solid black;
							padding: 15px 0px 5px;
							margin: 0px 10px;
							margin-bottom: 8px;
							&:hover{
								color: hubl("$first_color");
								border-color: hubl("$first_color");
							}
						}
						ul {
							background-color: #f2f2f2;
							>li>a {
								font-size: 18px;
								line-height: 34px;
								font-weight: 400;
								border-bottom: 1px solid #c1c1c1;
								padding: 0px;
								&:hover {
									color: hubl("$first_color");
									border-color:#c1c1c1;
								}
							}
						}
					}
				}
			}
		}
	}
	.inner-wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height:180px;
		float: none;
		@media(max-width: 1024px){
			height:125px;
			// margin-right: 100px;
		}
		> div{
			height: 124px;
			height:180px;
			@media(max-width: 1024px){
				height: 125px;
			}
			> div{
				height: 100%;
			}
			&:first-child{
				// logo
				max-width: 255px;
				width: 100%;
				@media(max-width: 1024px){
					position: relative;
					z-index: 3;
				}
				.logo{
					img{
						margin: 28px 0px;
						width: auto!important;
						@media(max-width: 1024px){
							height: 81px;
							margin: 27px 0px 17px 0px;
						}
						@media(max-width: 767px) {
							height: 85px;
							margin: 15px 0px 17px 0px;
						}
						@media(max-width: 400px) {
							height: 63px;
							margin: 15px 0px 17px 0px;
						}
					}
				}
			}
			&:nth-child(2){
				// navbar
				width: 100%;
				padding: 28px 0px 0px;
				@media(max-width: 1024px){
					// display: none;
					>div >div >div:not(:nth-child(2)){
						display: none;
					}
					>div>div>div:nth-child(2){
						transform: translateY(-15px);
					}
				}
			}
		}
	}
	.navbar{
		height: 100%;
		text-align: right;
		display: flex;
		flex-direction: column;
		// align-items: center;
		justify-content: space-between;
		> div{
			width: 100%;
		}
		.small-menu{
			font-size: 11px;
			text-transform: uppercase;
			ul{
				display: flex;
				justify-content: flex-end;
				line-height: 1;
				li{
					display: block;
					a{
						color: hubl("$second_color");
						padding: 0px 10px 0px;
						display: block;
						transition: 0.3s all;
						font-size: 11px;
						&:hover{
							// color: hubl("$first_color")
							text-decoration: underline;
						}
					}
					&:last-child{
						a{
							padding-right: 0px;
						}
					}
				}
			}
		}
		.text{
			.widget-type-text{	
				position: relative;
				right: 25px;
				
				display: inline-block;
				background-color: hubl("$first_color");
				color: #fff;
				font-size: 14px;
				line-height: 25px;
				padding: 0px 0px 0px 10px;
				@media(max-width: 767px) {
					line-height: 18px;
					padding: 4px 0px 4px 10px;
					right: 44px;
				}
				@media(max-width: 500px) {
					padding: 4px 10px 4px 10px;
					right: 0px;
					font-size: 11px;
					line-height: 15px;
				}
				@media(max-width:400px) {
					padding: 4px;
					right: 0px;
					font-size: 11px;
					line-height: 15px;
					font-size: 10px;
				}
				a{
					color: #fff;
					font-weight: 700;
					text-decoration: none;
					@media(max-width: 767px){
						display: block;
						text-align: left;
						line-height: 18px;
					}
					@media(max-width: 500px) {
						font-size: 11px;
						line-height: 15px;
					}
				}

				
				&:after{
					content: '';
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 25px 25px 0 0;
					border-color: hubl("$first_color") transparent transparent transparent;
					position: absolute;
					top: 0px;
					@media(max-width: 767px) {
						border-width: 44px 44px 0 0;
					}
					@media(max-width: 500px) {
						display: none;
					}
				}
			}
		}
		.main-menu{
			ul{
				display: flex;
				justify-content: flex-end;
				li{
					display: block;
					line-height: 1;
					position: relative;
					padding: 0px;
					&.hs-menu-depth-1{
						padding-bottom: 25px;
					}
					a{
						color: hubl("$second_color");
						padding: 0px 5px;
						line-height: 1.5;
						display: block;
						font-size: 18px;
						transition: 0.3s all;
						text-transform: uppercase;
						&:hover{
							color: hubl("$first_color");
							background-color: hubl("$first_color");
							color: #fff;
						}
					}
					> span{
						padding: 0px 10px;
						position: relative;
						width: 100%;
						display: block;
						height: 100%;
						&:after {
							content: '';
							width: 2px;
							height: calc(100% + 10px);
							display: inline-block;
							background-color: hubl("$second_color");
							position: absolute;
							top: -5px;
							right: 0px;
						}
					}
					
					&:last-child{
						span:after{
							display: none;
						}
					}
				}
				li.hs-item-has-children{
					position: static;
					&:hover{
						.hs-menu-children-wrapper {
							display: flex;
						}
						> span a {
							color: hubl("$first_color");
							background-color: hubl("$first_color");
							color: #fff;
						}
					}
				}
				.hs-menu-children-wrapper{
					z-index: 9999;
					background-color: #f2f2f2;
					position: absolute;
					top: 100%;
					max-width: 1100px;
					padding: 0 30px 30px;
					width: 100%;
					left: 50%!important;
					transform: translateX(-50%);
					text-align: left;
					display: none;
					justify-content: flex-start;
					justify-content: space-between;
					> li{
						width: 24%;
						display: block;
						max-width: 238px;
					}
					&.no-children-of-children{
						flex-direction: column;
					}
					li{
						padding: 0px;
						&:after{
							display: none;
						}
						a{
							line-height: 24px;
							font-family: "Source Sans Pro", sans-serif;
							font-weight: 700;
							font-size: 20px;
							padding: 18px 20px 5px 0;
							border-bottom: 2px solid black;
							text-transform:	none;
							&:hover {
								color: hubl("$first_color");
								background-color: transparent;
								border-color: hubl("$first_color");
							}
						}
					}
					ul.hs-menu-children-wrapper{
						display: block!important;
						width: 100%;
						position: relative;
						visibility: visible;
						opacity: 1;
						padding: 0px;
						li{
							width: 100%;
							padding: 0px;
							a{
								font-size: 17px;
								line-height: 31px;
								font-weight: 400;
								margin-bottom: 3px;
								font-weight: 400;
								border-bottom: 1px solid #c1c1c1;
								padding: 0px;
							}
						}
					}
				}
			}
		}
	}
}
