body {
    font-size: 18px;
    line-height: 1.5;
    font-family: sans-serif;
    color: initial;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $mainFont;
	font-weight: 400;

}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
ol,
li,
strong,
em,
small,
blockquote,
div {
	margin: 0;
	padding: 0;
	color: inherit;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	display: inline-block;
	margin: 20px 0px;
}

h1, .h1 {
	font-size: 44px;
	font-weight: 700;
}

h2, .h2 {
	font-size: 36px;
	font-weight: 700;
}

h3, .h3 {
	font-size: 30px;
	font-weight: 700;
}

h4, .h4 {
	font-size: 24px;
	font-weight: 700;
}

h5, .h5 {
	font-size: 20px;
	font-weight: 700;
}

h6, .h6 {
	font-size: 18px;
	font-weight: 700;
}
p,
p span {
	display: inline-block;
	margin: 20px 0px;
	font-size: 18px;
}
a {
	text-decoration: none;
	transition: 0.3s all;
	color: hubl("$first_color");
}
small{
	font-size: 14px;
	display: inline-block;
}
blockquote {
	font-size: 24px;
	line-height: 40px;
	position: relative;
	z-index: 2;
	font-style: italic;
	display: block;
	width: 100%;
	max-width: 520px;
	margin: 80px auto 40px;
	text-align: center;
	small{
		display: block;
		font-size: 18px;
		line-height: inherit;
	}
	&:after {
		position: absolute;
		z-index: 3;
		top: -60px;
		left: -25px;
		content: '”';
		font-family: $mainFont;
		font-weight: 700;
		color: hubl("$first_color");
		opacity: .2;
		font-size: 430px;
		line-height: 1;
		display: block;
		font-style: normal;
	}
}

a {
	position: relative;
	display: inline-block;
	color: hubl("$first_color");
	text-decoration: none;
	transition: .3s linear all;
}

ul,
ol {
	margin: 20px 0px;
	li {
		font-size: 18px;
		padding-left: 0px;
		position: relative;
	}
}
ol {
	li {
		list-style-type: none;
		counter-increment: list;
		&:before {
			position: absolute;
			content: counter(list) ".";
			display: inline-block;
			text-align: right;
			left: 0px;
			color: hubl("$first_color");
			font-weight: 500;
		}
	}
}
.widget-type-rich_text,
.hs_cos_wrapper_type_rich_text,
.hs_cos_wrapper_type_inline_rich_text {
	img{
		margin: 20px 0px;
	}
	ul {
		list-style: none;
		li {
			padding-left: 40px;
			margin-bottom: 10px;
			&:before {
				content: "";
				position: absolute;
				left: 16px;
				width: 18px;
				height: 14px;
				background-image: url('https://cdn2.hubspot.net/hubfs/4044383/Protektor%202018/Icon/check-li.svg');
				background-size: 17px;
				background-repeat: no-repeat;
				top: 9px;
				left:0px;
			}
		}
	}

	ol {

		li {
			padding-left: 20px;
			margin-bottom: 10px;
		}
	}
}











