@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

$dev_version : true;

$variables : (
			  "$first_color": #E41B15, 			// 1 hubl("$first_color")
			  "$second_color": #000000,			// 2 hubl("$second_color")
			  "$cta_background": #E41B15,		// 3 hubl("$cta_background")
			  "$cta_color": #ffffff,			// 4 hubl("$cta_color")
			  "$cta_hover_background": #ffffff,	// 5 hubl("$cta_hover_background")
			  "$cta_hover_color": #E41B15,		// 6 hubl("$cta_hover_color")
			  "$main_font_color": #000000,		// 7 hubl("$main_font_color")
			  "$font": "Roboto"				//   hubl("$font")
			  );

$browser-context: 16; // Font size bazowy w px na body, html

$mainFont: 'Roboto', sans-serif;


// Przelicznik z px na em
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

// Przelicznik z px na rem
@function rem($pixels, $context: $browser-context) {
	@return #{$pixels/$context}rem;
}

// Pętla dodająca zmienne 'habowe' //

@if $dev_version == false {
	@each $var-name, $var-value in $variables {
		/*== {% set #{$var_name} = "#{$var_value}" %} ==*/;	
	}
}

// Metoda zmieniajace zmienne habowe na sass i odwrotnie, zależne od zmiennej dev_version //
@function hubl($var){
	@if $dev_version == false {
  		@return unquote('/*=={{ '+$var+' }}==*/');
	} @else {
		@return map-get($variables,$var);
	}
}

@function hubl_rgba($var,$alpha){
	@if $dev_version == false {
		@return unquote('/*==rgba({{ '+$var+'|convert_rgb }},'+$alpha+')==*/');
	} @else {
		@return rgba(map-get($variables,$var),$alpha);
	}
}

