
.page-404-body {
  background-color: #fbfbfb; }

.page-404 {
  display: none;
  margin-top: 50px;
  margin-bottom: 100px; }
  .page-404 h1 {
    font-size: 106px;
   
    font-weight: 600;
    text-align: left;
    margin-bottom: 7px; }
  .page-404 h2 {
    font-size: 42px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 33px;
    text-transform: initial;
    letter-spacing: 0.04em; }
    .page-404 h2 span {
      letter-spacing: 3px; }
  .page-404 p {
    text-align: left;
    font-size: 16px;
    line-height: 25px;
    color: #626262;
    font-weight: 300;
    margin-bottom: 62px; }
  .page-404 img {
    margin-top: 60px;
    max-width: none; }
    @media (max-width: 767px) {
      .page-404 img {
        margin-left: 0; } }
  .page-404 .widget-type-linked_image {
    text-align: center; }
  @media (max-width: 767px) {
    .page-404 {
      margin-top: 40px;
      margin-bottom: 125px; } }
