
/********************************************************/
/*******  Website/_subscription-preferences.scss *******/
/********************************************************/
html body .subscription-pages .page-header {
  margin-bottom: 60px; }
.backup-unsubscribe .page-header{
  display:none;
}
.subscription-pages .page-header h1{
    display: block!important;
    margin-bottom: 20px !important;
    margin-top: 0px !important;
}
.subscription-preferences #globalunsub+span:after{

  top: -3px;
    margin-left: -3px;
}
.subscription-preferences.widget-type-email_subscriptions p.header{

  display:none!important;
}
html body .subscription-pages .hs-input {
  max-width: 100%; }

html body .row-fluid .subscription-preferences {
  margin: 80px 0 80px; }

html body .row-fluid .backup-unsubscribe {
  margin: 100px 0 150px; }

html body .row-fluid .subscriptions-update {
  margin: 200px 0 150px; }

.subscription-preferences .email-prefs .item .item-inner p {
  text-align: left; }

.subscription-preferences.widget-type-email_subscriptions h1 {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: initial;
  letter-spacing: 0.04em;
  line-height: 1; }
  @media (max-width: 767px) {
    .subscription-preferences.widget-type-email_subscriptions h1 {
      font-size: 32px; } }

.subscription-preferences.widget-type-email_subscriptions h2 {
  font-size: 22px;
  line-height: 25px;
  font-weight: 300;
  margin: 0; }

.subscription-preferences.widget-type-email_subscriptions p {
  text-align: left;
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
  margin-bottom: 0;
  text-align: center; }

.subscription-preferences.widget-type-email_subscriptions p.header {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
   }

.subscription-preferences .email-prefs .item:first-child {
  margin-top: 0; }

.subscription-preferences .email-prefs input[type="checkbox"] {
  position: absolute;
  height: 100%;
  width: 100%;
  /* 35px */
  top: -6px;
  margin-right: 3px;
  visibility: visible;
  opacity: 0;
  z-index: 2; }
  .subscription-preferences .email-prefs input[type="checkbox"] + span:before {
    content: "";
    position: absolute;
    top: 0;
    left: -1px;
    display: block;
    width: 14px;
    height: 14px;
    font-family: "FontAwesome";
    background-color: #fff;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    visibility: hidden; }
  .subscription-preferences .email-prefs input[type="checkbox"] + span:after {
    content: "\f096";
    position: absolute;
    top: 19px;
    left: 15px;
    display: block;
    color: #e0e0e0;
    width: 16px;
    height: 20px;
    font-family: "FontAwesome"; }
  .subscription-preferences .email-prefs input[type="checkbox"]:checked + span:after {
    content: "\f14a";
    color:#e41b15;
  }

.subscription-preferences .email-prefs .checkbox-row span.fakelabel span {
  margin-left: 20px; }

.subscription-preferences #submitbutton {
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  cursor: pointer;
  margin-top: 30px;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  -webkit-appearance: none;
  display: block;
  margin: 50px auto 0;
  white-space: normal; }

.subscription-preferences #submitbutton:hover {
  -webkit-appearance: none; }

.subscription-preferences #submitbutton:active {
  outline: none;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear; }

.subscription-preferences .subscribe-options label {
  position: relative; }

.subscription-preferences #globalunsub {
  visibility: visible;
  height: 15px;
  top: -1px; }
  .subscription-preferences #globalunsub + span:before {
    content: "";
    position: absolute;
    top: 0;
    left: -1px;
    display: block;
    width: 14px;
    height: 14px;
    font-family: "FontAwesome";
    background-color: #fff;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    visibility: hidden; }
  .subscription-preferences #globalunsub + span:after {
    content: "\f096";
    position: absolute;
    top: -3px;
    left: -15px;
    display: block;
    color: #e0e0e0;
    width: 16px;
    height: 20px;
    font-family: "FontAwesome"; }
  .subscription-preferences #globalunsub:checked + span:after {
    content: "\f14a"; 
    color: #e41b15;}

.subscription-preferences .checkbox-row span.fakelabel span {
  margin-left: 20px; }

.backup-unsubscribe {
  text-align: center; }
  .backup-unsubscribe .subscription-pages .page-header {
    margin-bottom: 0; }
  .backup-unsubscribe.widget-type-email_subscriptions h3 {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: initial;
    letter-spacing: 0.04em;
}
  .backup-unsubscribe #submitbutton {
    display: block;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 30px;
    -webkit-appearance: none;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
    margin: 50px auto 0; }
  .backup-unsubscribe #submitbutton:hover {

    -webkit-appearance: none; }
  .backup-unsubscribe #submitbutton:active {
    outline: none;
    text-decoration: none;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear; }

.subscriptions-update.widget-type-email_subscriptions_confirmation {
  text-align: center; }
  .subscriptions-update.widget-type-email_subscriptions_confirmation .page-header h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: initial;
    letter-spacing: 0.04em;
}
    @media (max-width: 767px) {
      .subscriptions-update.widget-type-email_subscriptions_confirmation .page-header h2 {
        font-size: 22px;
        word-break: break-all; } }
  .subscriptions-update.widget-type-email_subscriptions_confirmation p {
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    outline: none;
    font-size: 18px;
    font-weight: 200;
    font-family: Palanquin; }
  .subscriptions-update.widget-type-email_subscriptions_confirmation #content {
    font-size: 20px; }
