.landing-page{
	
	select::-ms-expand {
    display: none;
	}

	h2{
		font-size:36px;
		font-weight:400;
	}
	h3{
		font-size:24px;
		font-weight:400;
	}
	p{
		font-size:18px;
		font-weight:300;
	}
	.book-module{
		    margin-top: -530px;
    		z-index: 1000000;
    		position: relative;
    		-webkit-box-shadow: 10px 10px 5px 0px rgba(214,211,214,1);
			-moz-box-shadow: 10px 10px 5px 0px rgba(214,211,214,1);
			box-shadow: 10px 10px 5px 0px rgba(214,211,214,1);

    		h1{
    			font-size:63px;
    			color:white;
    			line-height:60px;
    			padding-left:15px;
    			padding-right:15px;
			}
			@media(max-width:1100px){
				h1{
				
				font-size:44px;
				
				}
			}
		
	}
	

	.bottom-book{
		
		width:100%;
		height:90px;
		background-color:white;
		bottom:0px;

		img{
			    height: inherit;
		}
	}
	.gray{

		background-color:#F2F2F2;
	}
	.half-container{
		width:70%;
		.rowe{
			max-width:1022px;
			float:right;
		}
	}
	.backg{
		width:32%;
		height:500px;
		background-size:cover;
		background-repeat:no-repeat;
		position: absolute;
    	right: 0px;
	}
	.cont{
		width:100%;
		margin-right: auto;
  		margin-left: auto;
	}
	.flex{
		display:flex;
		width:100%;
		max-width:99999px;
		padding-left:0px;
		padding-right:0px;
	}
	.rel{
		position:relative;
		min-height:500px;
		width:68%;
		padding-top:50px;
	}
	@media(max-width:1300px){
		.rel{
			width:60%;
		}
		.backg{
			width:40%;
		}

	}
	@media(max-width:1000px){
		.rel{
			width:50%;
			min-height:620px;
		}
		.backg{
			width:50%;
			height:620px;
		}

	}
		@media(max-width:768px){
		.rel{
			width:100%;
			min-height:1px;
			height:auto;
			padding-bottom:20px;
		}
		.backg{
			width:100%;
			height:520px;
			position:relative;
		}

	}
	@media(max-width:400px){
		.backg{
				height:400px;
		}
	}
	.margin-section{
		padding-top:10px;
		padding-bottom:50px;
	}
	.second-section{
		padding-top:50px;
		padding-bottom:50px;
		h2{
			text-align:center;
			width:100%;
		}
		p{
			text-align:center;
		}
	}
	.blog-banner{

		min-height:275px;
	}
		@media(max-width:1024px){
			.book-module{
				margin-top:-500px;
			}
		
		}

			@media(max-width:768px){

				.book-module{
				
					margin-top:0px;
				
				}
			}

	.inputs-list{
		    list-style-type: none;
	}
	form input[type=text], form input[type=email], form input[type=tel], form input[type=password], form input[type=number], form input[type=tel]{

		background-color:white;
		border-color:#125860;
	}
	.hs-submit{
		float:right;
		    margin-right: 49px;
	}

	form input[type="checkbox"] + span{
		color:rgba(24, 32, 43,0.4);
	}
	.hs-field-desc{
		color:rgba(24, 32, 43,0.4);
		font-size:11px;
	}
	form select{
		display:block;
		visibility: visible;
		opacity:1;
	}
	
select {
  padding: 6px;
  display: inline-block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
select.input.error-border:after,
.file-upload.input.error-border:after,
.actions.error-border:after,
label.error-border:after {
  display: none; }

select.input.verify:after,
.file-upload.input.verify:after,
.actions.verify:after,
label.verify:after {
  display: none; }

select {
  position: relative;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

  select {
    border: 1px solid #125860;
    background: white;
    color: #18202B;
    padding: 7.5px 15px;
    cursor: pointer;
    position: relative;
    margin-bottom: 8px; 
	height:45px;
	border-radius:0px;
	-webkit-appearance: none;
	}
    .dropdown_select.input .dropdown-header span {
      line-height: 50px;
      font-weight: 300; }

      .hs_titel, .hs_anrede{

		position:relative;

      }
      .hs_titel label, .hs_anrede label{

      	  position: absolute;
		  top: -30px;
		  z-index: 1;

      }

      .hs_anrede label, .hs_titel label{
		color:rgba(24, 32, 43,0.4);
			
      }
	.hs_anrede .input:before, .hs_titel .input:before{
		
		content: "\f0d7";
	    font-family: 'FontAwesome';
	    position: absolute;
	    right: 15px;
	    top: 50%;
	    -webkit-transform: translateY(-50%);
	    -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    -o-transform: translateY(-50%);
	    transform: translateY(-50%);
	    color: #707070;
	    z-index:1;

	}
	.hs_submit{
		margin-bottom:30px;
	}

@media(max-width:768px){

		.hs_anrede label, .hs_titel label{

		display:none!important;
	}
}


}