.landing{
	h1 span{

		background-color:#18202B;
	}
		h1 span:before{
					background-color:#18202B;

		}
		h1 span:after{
			border-color:transparent transparent transparent #18202B;
		}

		h1 span:last-child:after{
				border-color:#18202B transparent transparent transparent;
		} 

	

		 h1, h2{
			background: transparent;
		}
		@media(max-width:1024px){
			h1{
				background-color: #E41B15;
			}
	}

		@media(max-width:768px){
			.word-split{
					
				background-color:#18202b;
				background-color: #E41B15;
				
			}

			min-height:200px!important;
		}
		

} 
	.red{
		.landing{
			h1 span{

				background-color:#E41B15;
			}
				h1 span:before{
							background-color:#E41B15;

				}
				h1 span:after{
					border-color:transparent transparent transparent #E41B15;
				}

				h1 span:last-child:after{
						border-color:#E41B15 transparent transparent transparent;
				} 
				
			}
			
		}
