.thank-you{
		@media(min-width:1025px){
			.recent-posts{
				margin-top:-330px;
			}
		}
		.related-image{
			max-width:450px;
			height:300px;
			background-repeat:no-repeat;
			background-position: center;
			background-size: cover;
			position:relative;
		}
		.related-image:after{

			content: '';
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 150px 0 0 30px;
			border-color: transparent transparent transparent #ffffff;
			position: absolute;
			bottom: 0px;
			left: 0px;

		}
		.related-title{
			a{
				color:#000000;
				font-size:28px;
				margin-top:10px;
				margin-bottom:10px;
			}
		}
		a.read_more{
			
			padding: 12px 20px;
			margin-bottom: 20px;
			color: white;
			background-color: #000;
		}
		a.read_more:after{
			content: '';
		    display: block;
		    width: 0;
		    height: 0;
		    border-style: solid;
		    border-width: 51px 51px 0 0;
		    border-color: #000 transparent transparent transparent;
		    position: absolute;
		    top: 0px;
		    right: -51px;
		}
		.download{
			max-width:645px;
			margin-right:0px;
			margin-left:auto;
		}
		.blog-banner{

			min-height:200px;
		}
		.follow{
			display:inline-block;
			font-size:18px;
		}
		.folw{
			display:inline-block;

		}

}