.blog{
    // GLOBALS
    .flex-wrapper{
        display: flex;
        @media(max-width: 1023px) {
            flex-wrap: wrap;
        }
        >div{
            &:first-child{
                // content
                max-width: 1015px;
                width: 100%;
                @media(max-width: 1023px){
                    max-width: 100%;
                }
            }
            &:last-child{
                // sidebar
                max-width: 385px;
                width: 100%;
                @media(max-width: 1023px) {
                    max-width: 100%;
                }
            }
        }
    }
    .content{
        margin: 55px 0px 0px 0px;
        border-right: 1px solid rgba(0, 0, 0, .3);
        padding-right: 79px;
        @media(max-width: 1023px) {
            border-right: none;
            padding-right: 0px;
        }
    }
    .sidebar {
        margin-top: 55px;
        padding-left: 80px;
        @media(max-width: 1023px) {
            padding-left: 0px;
        }
        >div{
            // each item 
            margin-bottom: 90px;
            h3{
                margin-top: 0px;
                text-transform: uppercase;
                font-size: 24px;
                font-weight: 500;
                letter-spacing: -0.06em;
                margin-bottom: 0px;
            }
        }
        ul{
            padding-left: 25px;
            list-style: none;
            li{
                position: relative;
                margin-bottom: 20px;
                &:before{
                    content: '';
                    display: block;
                    width: 8px;
                    height: 8px;
                    background-color: hubl("$first_color");
                    position: absolute;
                    top: 10px;
                    left: -25px;
                }
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 10px;
                    left: -17px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 8px 8px 0 0;
                    border-color: hubl("$first_color") transparent transparent transparent;
                }
                a{
                    color: hubl("$main_font_color");
                    font-size: 18px;
                    font-weight: 500;
                    &:hover{
                        color: hubl("$first_color")
                    }
                }
               

            }
        }
        .hs_cos_wrapper_type_blog_subscribe{
            input[type=text],
            input[type=email] {
                border: none;
                border-bottom: 2px solid hubl("$first_color");
            }
        }
    }
    // LISTING
    .blog-listing-wrapper{
        // ABOUT AUTHOR
        .post-of-author{
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 30px;
        }
        .author-profile{
            .heading{
                display: flex;
                align-items: center;
                margin-bottom: 30px;
                .avatar{
                    width: 105px;
                    height: 105px;
                    background-size: cover;
                    border: 5px solid hubl("$second_color");
                }
                .author-name{
                    background-color: hubl("$second_color");
                    color: hubl("$first_color");
                    padding: 15px 0px 15px 15px;
                    position: relative;
                    font-size: 16px;
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0px;
                        right: -54px;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 54px 54px 0 0;
                        border-color: hubl("$second_color") transparent transparent transparent;
                    }
                }
            }
            .author-bio,
            .hs-author-social-section {
                font-size: 16px;
                font-weight: 300;
                margin-bottom: 30px;
            }
            .hs-author-social-section {
                margin-bottom: 10px;
            }
            
        }
        // POSTS LISTING
        .post-item{
            display: flex;
            margin-bottom: 75px;
            @media(max-width: 1300px) {
              display: block;
            }
            .thumb{
                min-height: 370px;
                width: 440px;
                min-width: 440px;
                background-size: cover;
                background-position: center center;
                background-color: #eee;
                margin-right: 30px;
                @media(max-width: 1300px){
                    min-width: 100%;
                    width: 100%;
                    margin-bottom: 30px;
                    height: 300px;
                }
                a{
                    display: block;
                    background-color: hubl("$first_color");
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    &:hover{
                        opacity: .7;
                    }
                }
            }
            .post-body{
                .heading{
                    display: flex;
                    .item{
                        margin-right: 15px;
                        display: flex;
                        align-items: center;
                        img{
                            height: 12px!important;
                            display: inline-block;
                            margin-right: 5px;
                            transform: translateY(-4px);
                        }
                        span,
                        a {
                            display: inline-block;
                            font-size: 11px;
                            letter-spacing: 0.1em;
                            color: hubl("$main_font_color");
                        }
                        a{
                            &:hover {
                                color: hubl("$first_color");
                            }
                        }
                        &:last-child{
                            margin-right: 0px;
                        }
                    }
                }
                h2{
                    font-size: 36px;
                    font-weight: 700;
                    position: relative;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    line-height: 1.2;
                    a{
                        font-size: inherit;
                        font-weight: inherit;
                         color: hubl("$main_font_color");
                         &:hover{
                             color: hubl("$first_color");
                         }
                    }
                    &:after{
                        content: '';
                        display: block;
                        width: 125px;
                        height: 1px;
                        background-color: hubl("$second_color");
                        margin-top: 20px;
                    }
                }
                .desc{
                    margin-bottom: 10px;
                }
                .more-link{
                    background-color: hubl("$first_color");
                    color: #fff;
                    font-size: 18px;
                    font-weight: 700;
                    padding: 12px 15px;
                    position: relative;
                    display: inline-block;
                    &:after {
                        content: '';
                        display: block;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 51px 51px 0 0;
                        border-color: hubl("$first_color") transparent transparent transparent;
                        position: absolute;
                        top: 0px;
                        right: -51px;
                    }
                    &:hover{
                        opacity: 0.8;
                    }
                }
            }
        }
    }
    // PAGINATION
    .blog-pagination{
        ul{ 
            list-style: none;
            display: flex;
            padding-left: 0px;
            li{
                a{
                    font-size: 20px;
                    font-weight: 700;
                    color: hubl("$first_color");
                    padding: 0px 10px;
                    display: block;
                    &:hover{
                        opacity: .6;
                    }
                    &.arrow{
                        border: 2px solid hubl("$first_color");
                        width: 30px;
                        height: 30px;
                        position: relative;
                        &:before,
                        &:after {
                            content: '';
                            width: 10px;
                            height: 2px;
                            background-color: hubl("$first_color");
                            display: block;
                            transform: rotate(45deg);
                            top: 9px;
                            left: 9px;
                            position: absolute;
                        }
                        &:after {
                            transform: rotate(-45deg);
                            top: 15px;
                            left: 9px;
                            
                        }
                        &.right{
                            margin-left: 20px;
                        }
                        &.left {
                            margin-right: 20px;
                             &:before{
                                 transform: rotate(-45deg);
                                 left: 7px;
                             }
                             &:after {
                                transform: rotate(45deg);
                                left: 7px;
                             }
                        }
                        &.disabled{
                            opacity: 0.3;
                            pointer-events: none;
                        }
                    }
                }
                &.active{
                    a{
                        color: hubl("$main_font_color");
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    // ARTICLE
    .post-body{
        p{
            display: inline-block;
            width: 100%;
        }
    }
    // BLOG TOPICS
    .blog-topics{
        position: relative;
        &:before{
            content: '';
            width: 135px;
            height: 1px;
            background-color: hubl("$second_color");
            display: block;
            margin: 20px 0px;
        }
    }
    // ARTICLE RECENT POSTS
    .article-recent-posts{
        .inner-wrapper{
            display: flex;
            justify-content: space-between;
            margin-top: 15px;
            @media(max-width: 1200px) {
                flex-wrap: wrap;
            }
            >article {
                position: relative;
                width: 32%;
                max-width: 300px;
                margin-bottom: 30px;
                padding-bottom: 45px;
                @media(max-width: 1200px) {
                    width: 48%;
                    max-width: 48%;
                }
                @media(max-width: 1140px) {
                    width: 100%;
                    max-width: 100%;
                }
                @media(max-width: 1024px) {
                     max-width: 300px;
                     width: 32%;
                }
                @media(max-width: 767px) {
                    width: 48%;
                    max-width: 48%;
                }
                @media(max-width:  600px) {
                    width: 100%;
                    max-width: 100%;
                }
                .thumb {
                    height: 187px;
                    width: 100%;
                    background-size: cover;
                    background-position: center center;
                    background-color: #eee;

                    a {
                        display: block;
                        background-color: hubl("$first_color");
                        width: 100%;
                        height: 100%;
                        opacity: 0;

                        &:hover {
                            opacity: .7;
                        }
                    }
                }
                h4{
                    display: inline-block;
                    width: 100%;
                    a{
                        color: hubl("$second_color");
                        &:hover{
                            color: hubl("$first_color");
                        }
                    }
                }
                .more-link {
                    background-color: hubl("$first_color");
                    color: #fff;
                    font-size: 18px;
                    font-weight: 700;
                    padding: 12px 15px;
                    position: absolute;
                    display: inline-block;
                    bottom: 0;
                    left:0;

                    &:after {
                        content: '';
                        display: block;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 51px 51px 0 0;
                        border-color: hubl("$first_color") transparent transparent transparent;
                        position: absolute;
                        top: 0px;
                        right: -51px;
                    }

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
    // BLOG COMMENTS
    .blog-comments{
        margin-top: 60px;
        small{
            display: block;
            color: hubl("$first_color");
            margin-bottom: 20px;
            margin-top: 20px;
        }
        > .span12{
            margin-left: 0px;
        }
        .post-footer{
            display: flex;
            flex-wrap: wrap;
            > div{
                width: 100%;
            }
            #comments-listing{
                order: 1;
                margin: 45px 0px;
                > div{
                    border-top: none;
                    margin: 0px 0px 40px 0px;
                    padding-top: 0px;
                }
                h4{
                    margin: 0px;
                    color: hubl("$first_color");
                }
                .comment-date{
                    display: block;
                    font-size: 11px;
                    color: #919594;
                    margin-top: 5px;
                }
                .comment-body{
                    color: #696969;
                    p{
                        margin: 10px 0px;
                        font-size: 14px;
                    }
                }
                .comment-reply-to{
                    background: none;
                    padding-left: 0px;
                    color: hubl("$first_color");
                }
            }
        }
    }
}