.blog-banner{
	width: 100%;
	min-height: 335px;
	max-width: 1460px;
	margin: 0 auto;
	background-size: cover;
	background-position: center center;
	overflow-x: hidden;
	@media(max-width: 1024px){
		display: flex;
		align-items: flex-end;
		.container--small{
			padding: 0px;
		}
	}
	h1,h2{
		font-size: 51px;
		font-weight: 700;
		color: #fff;
		margin: 0px;
		padding: 45px 0px;
		@media(max-width: 1024px){
			font-size: 35px;
			margin-bottom: 0px;
			padding: 0px 15px;
			display: block;
			background: hubl("$first_color");
		}
		span {
			background: hubl("$first_color");
			display: inline-block;
			margin: 5px 0px;
			height: 1.5em;
			position: relative;

			@media(max-width: 1024px){
				padding: 0 5px;
				margin: 0px;
				&:before, &:after{
					display: none!important;
				}
			}
			&:before{
				content: '';
				display: block;
				position: absolute;
				width: 200.5%;
				height: 100%;
				background-color: hubl("$first_color");
				left: -200%;
			}
			&:after{
				content: '';
				display: block;
				position: absolute;
				width: 30px;
				height: 100%;
				// background-color: hubl("$second_color");
				left: 100%;
				top:0px;
				width: 0;
				height: 1.5em;
				border-style: solid;
				border-width: 1.5em 0 0 1.5em;
				border-color: transparent transparent transparent hubl("$first_color");

			}
			&:last-child{
				&:after{
					height: 0;
					border-style: solid;
					border-width: 1.5em 1.5em 0 0;
					border-color: hubl("$first_color") transparent transparent transparent;
				}
			}
		}
	}

	.word-split {
		opacity: 0;
		max-width: 860px;

		@media(max-width: 1024px) {
			max-width: none;
		}

		@media (max-width: 767px) {

			br {
				display: none;
			}

			span {
				display: inline;
			}
		}

		&.done {
			opacity: 1;
		}
	}
	&.article{
		padding: 30px 0px;
		h1{
			margin-top: 0px;
			padding-top: 10px;
			@media(max-width: 1024px) {
				margin-bottom: 45px;
			}
			span{
				padding-right: 15px;
				padding-left: 2px;
				
				@media (max-width: 767px) {
					padding-right: 0;
					padding-left: 0;
				}
			}
		}
		.about-author{
			display: flex;
			align-items: center;
			.avatar{
				width: 80px;
				height: 80px;
				border: 5px solid hubl("$second_color");
				background-size: cover;
				background-position: center center;
			}
			.inner-wrapper{
				background-color: hubl("$second_color");
				padding: 10px 0px 10px 10px;
				color: #fff;
				@media(max-width: 1023px) {
					width: 100%;
				}
				h5{
					display: block;
					margin: 0px;
					font-size: 18px;
					font-weight: 300;
					a{
						color: hubl("$first_color");
						font-weight: 700;
					}
				}
				span {
					display: block;
					font-size: 14px;
					font-weight: 300;
				}
			}
			&:after {
				content: '';
				height: 0;
				border-style: solid;
				border-width: 68px 68px 0 0;
				border-color: #000000 transparent transparent transparent;
				@media(max-width: 1023px){
					display: none;
					
				}
			}
		}
	}
}