.lpv2-contact-box-wrapper {
    border: 4px solid #f2f2f2;
    margin-bottom: 1em;
    max-width: 360px;
}

.lpv2-contact-box {
    padding: 10px 16px;

    h4 {
        font-size: 18px;
        line-height: 28px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0 0 10px 0;
    }

    div p {
        font-size: 16px;
        line-height: 20px;
        font-weight: 300;
        padding: 0;
        margin: 0;
    }

    a {
        text-decoration: none;
        color: #18202b;
        transition: color .4s ease;
    }

    a::after {
        font-family: "FontAwesome", sans-serif;
        content: '\f105';
        margin-left: 5px;
        margin-left: .25em;
        transition: margin-left .3s ease;
    }

    a:hover {
        color: #e41b13;

        &::after {
            margin-left: .5em;
        }
    }
}