	.social-share{
			
			background-color:#18202b;
			padding:20px 0px;
			text-align:center;
			a{
				color:white;
				font-size: 40px;
				margin-left: 20px;
    			margin-right: 20px;
			}
			
			.follow{
				display:inline-block;
				color:white;
			}

			ul{
				list-style-type: none;
			}

			ul li{
				display:inline;
			}

			.follow{
					display:inline-block;
					font-size:18px;
			}

		.folw{
			display:inline-block;

		}

}